.admin-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #2c3e50 0%, #2980b9 100%);
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(44, 62, 80, 0.10);
    margin-top: 5px;
  .logo {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .add-product {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    gap: 1rem;

    input[type="text"] {
      flex: 1;
      padding: 0.6rem 1rem;
      border-radius: 4px;
      border: none;
      font-size: 1rem;
      margin-right: 1rem;
      background: #ecf0f1;
      color: #2c3e50;
    }

    button {
    
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 0.6rem 1.2rem;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: background 0.2s;

      
      &.table {
        background: #024069;

        &:hover {
          background: #55aee9;
        }
      } 
      &.add {
        background: #024069;

        &:hover {
          background: #55aee9;
        }
      } 
      .material-icons {
        font-size: 1.2em;
        vertical-align: middle;
      }
    }
  }
}